.DS_Store
/.Rproj.user
*.RData
.Rhistory
.RDS
/data
/final-project_cache
/figure-latex/
/Chang_HousingRentalPricingPrediction_cache/
/Chang_HousingRentalPricingPrediction_files/
/final-project_files/
final-project.log
final-project.tex
final-project.pdf
final-project.html
